@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, everyone!</h1>

<p>This is JacobLites's site. He's playing around and doing stuff, feel free to poke around and ask questions or chat!</p>
<p>RssDisplay shows kinda sorta balanced news!</p>
<p>More options coming soon! Unless it's been like and year and a half since this page changed, then don't expect a lot.</p>
