@page "/rssdisplay"
@using System.Xml
@using System.ServiceModel.Syndication
@attribute [StreamRendering]

<PageTitle>RssDisplay</PageTitle>

<h1>RssDisplay</h1>

<p>This component demonstrates showing \#MostlyBalanced news sources via RSS.</p>

@if (rssInfos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rssInfo in rssInfos)
            {
                <tr>
                    <td>@rssInfo.Title</td>
                    <td>@rssInfo.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<RssInfo>? rssInfos;

    protected override void OnInitialized()
    {
        string url = "https://news.google.com/rss/search?q=site%3Areuters.com%20when%3A1d&hl=en-US&gl=US&ceid=US%3Aen";
        XmlReader reader = XmlReader.Create(url);
        SyndicationFeed feed = SyndicationFeed.Load(reader);
        
        reader.Close();
        List<RssInfo> rssInfoCache = new List<RssInfo>();
        foreach (SyndicationItem item in feed.Items)
        {
            RssInfo info = new RssInfo();
            info.Title = item.Title.Text;    
            info.Summary = item.Summary.Text;
            //info.Date = item.PublishDate.DateTime;
            rssInfoCache.Append(info);
            Console.WriteLine("HAHAHA");
        }
        Console.WriteLine("BAHAHA");
        rssInfos = rssInfoCache;
        return;
    }

    private class WeatherForecast
    {
        public DateOnly Date { get; set; }
        public int TemperatureC { get; set; }
        public string? Summary { get; set; }
        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }

    private class RssInfo
    {
        public DateTime? Date { get; set; }
        public string? Title { get; set; }
        public string? Summary { get; set; }
    }
}